<!-- <div class="header-dropdown">
  <span class="headerDropdownMenu col-md-2">
  </span>
</div> -->
<div class="container-fluid margin-top-none">
  <div class="bradcrum-link-left-side">
    <ul>
      <li>
        <span href="" class=""> DG Color </span>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li class="bradcrum-link-left-side-nonehover">
        Admin Panel
      </li>
    </ul>
  </div>
  <div class="header_sub_main">
    <div class="padi-Left-108">
      <div class="header-sub-menu">
        <ul>
          <li [ngClass]="{'active': selectedCategory == 'All' }">
            <a (click)="onCreateUserClick('All')">All Data</a>
          </li>
          <li [ngClass]="{'active': selectedCategory == 'Create' }">
            <a (click)="onCreateUserClick('Create')">Create User</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="grid-container digicreateuser-rt-left-padi-none">
  <div id="Admin-AllData-scrollview" class="inward-page2">
    <dx-scroll-view #scrollView id="scrollview" [scrollByContent]="true" [scrollByThumb]="true" [height]="windowHeight"
      [bounceEnabled]="false" [useNative]="true" direction="both" reachBottomText="Updating...">
      <div class="customerDetails-inward">
        <div class="" *ngIf="allTables">
          <div class="inward_boxs_Div_Width">
            <h1>All Data</h1>
          <div class="row">

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>User List</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar AdminUserList-height">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="digicolorUserDetailsList" [allowColumnResizing]="true"
                      [wordWrapEnabled]="true" [allowColumnReordering]="true"
                      (onRowUpdated)="onrowUpdatedForUser($event)" [showBorders]="true">
                      <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="false">
                      </dxo-editing>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-paging [pageSize]="10"></dxo-paging>
                      <dxi-column dataField="digiColorUserId" caption="DG Color User Id" [width]="120">
                      </dxi-column>
                      <dxi-column dataField="empCodeName" caption="Employee Name">
                        <dxo-lookup [dataSource]="assignToRunnerList" valueExpr="empName" displayExpr="empName">
                        </dxo-lookup>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>Process</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="processList" [height]="331"
                      [allowColumnResizing]="true" [wordWrapEnabled]="true" [allowColumnReordering]="true"
                      (onRowUpdated)="onProcessUpdate($event)" (onRowInserted)="OnProcessInsert($event)"
                      (onRowRemoved)="OnProcessDeleted($event)" (onEditingStart)="logEvent($event)"
                      [showBorders]="true">
                      <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                      </dxo-editing>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                      <dxi-column dataField="process" caption="Process">
                      </dxi-column>
                      <dxi-column dataField="id" caption="Id" [visible]=false>
                      </dxi-column>
                      <dxi-column dataField="typeValue" caption="TypeValue" [visible]=false>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>LightSource</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="lightSourceData" [allowColumnResizing]="true"
                      [height]="331" [wordWrapEnabled]="true" [allowColumnReordering]="true"
                      (onRowUpdated)="onProcessUpdate($event)" (onRowInserted)="OnProcessInsert($event)"
                      (onRowRemoved)="OnProcessDeleted($event)" (onEditingStart)="logEvent($event)"
                      [showBorders]="true">
                      <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                      </dxo-editing>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                      <dxi-column dataField="lightSource" caption="LightSource">
                      </dxi-column>
                      <dxi-column dataField="id" caption="Id" [visible]=false>
                      </dxi-column>
                      <dxi-column dataField="typeValue" caption="TypeValue" [visible]=false>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>Color Gamut</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="colorGamutData" [allowColumnResizing]="true"
                      [height]="331" [wordWrapEnabled]="true" [allowColumnReordering]="true"
                      (onRowUpdated)="onProcessUpdate($event)" (onRowInserted)="OnProcessInsert($event)"
                      (onRowRemoved)="OnProcessDeleted($event)" (onEditingStart)="logEvent($event)"
                      [showBorders]="true">
                      <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                      </dxo-editing>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                      <dxi-column dataField="colourGamut" caption="Color Gamut">
                      </dxi-column>
                      <dxi-column dataField="id" caption="Id" [visible]=false>
                      </dxi-column>
                      <dxi-column dataField="typeValue" caption="TypeValue" [visible]=false>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>Substrate</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="customerSubstrateData" [allowColumnResizing]="true"
                      [wordWrapEnabled]="true" [allowColumnReordering]="true" (onRowUpdated)="onProcessUpdate($event)"
                      (onRowInserted)="OnProcessInsert($event)" (onRowRemoved)="OnProcessDeleted($event)" [height]="331"
                      (onEditingStart)="logEvent($event)" [showBorders]="true">
                      <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                      </dxo-editing>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                      <dxi-column dataField="typeofIndustries" caption="Substrate">
                      </dxi-column>
                      <dxi-column dataField="unitofMeasurement" caption="Fabric Quality">
                      </dxi-column>
                      <dxi-column dataField="id" caption="Id" [visible]=false>
                      </dxi-column>
                      <dxi-column dataField="typeValue" caption="TypeValue" [visible]=false>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-12">
                <div class="" style="margin-top: 10px">
                  <h3>Fastness</h3>
                </div>
                <div class="shadowbox inward_boxs_Div inward_boxs_without_mar">
                  <div id="form-container" style="padding:0 8px;">
                    <dx-data-grid id="inquiryLlist" [dataSource]="fastnessDataSource" [allowColumnResizing]="true"
                      [wordWrapEnabled]="true" [allowColumnReordering]="true" (onRowUpdated)="onProcessUpdate($event)"
                      (onRowInserted)="OnProcessInsert($event)" (onRowRemoved)="OnProcessDeleted($event)" [height]="331"
                      (onEditingStart)="logEvent($event)" [showBorders]="true">
                      <dxo-editing mode="cell" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                      </dxo-editing>
                      <dxo-paging [enabled]="false"></dxo-paging>
                      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]"
                        [showNavigationButtons]="true" [showInfo]="true">
                      </dxo-pager>
                      <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                      <dxi-column dataField="nameofFastness" caption="Fastness">
                      </dxi-column>
                      <dxi-column dataField="testMethod" caption="Test Method">
                      </dxi-column>
                      <dxi-column dataField="id" caption="Id" [visible]=false>
                      </dxi-column>
                      <dxi-column dataField="typeValue" caption="TypeValue" [visible]=false>
                      </dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div *ngIf="createUser" class="createUserPage">

          <h1>Create User</h1>

          <form #user="ngForm" (ngSubmit)="submit(user)">

            <div class="form-row row">
              <div class="form-group col-lg-4 col-md-6">
                <label for="firstname">UserName <span style="color:red">*</span></label>
                <input type="text" class="form-control" placeholder="UserName"  name="username" ngModel required>
              </div>
              <div class="form-group col-lg-4 col-md-6">
                <label for="password">Password <span style="color:red">*</span></label>
                <input type="password" class="form-control" placeholder="Password"  name="password"  ngModel required>
              </div>
              <div class="form-group col-lg-4 col-md-12">
                <label for="email">Select Customer Code</label><br>
                <dx-select-box style="border-bottom:1px solid #ddd !important; padding:0px !important;"
                  Id="shadematching" [dataSource]="cosigneeNameCode" displayExpr="name" valueExpr="value"
                  placeholder="Select Consumer" [showClearButton]="true" [searchEnabled]="true"
                  (onValueChanged)="ConsumerValueChanged($event)" [value]="">
                </dx-select-box>
              </div>
            </div>

            <div class="form-row row my-3">
              <div class="col-lg-3 col-md-6 mb-3">
                <label for="customercode">Customer Code</label><br>
                <input type="text" name="customercode" id="customercode" class="form-control" [(ngModel)]="userDataModel.customercode" readonly>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <label for="customername">Customer Name</label><br>
                <input type="text" name="customername" id="customername" class="form-control" [(ngModel)]="userDataModel.customername" readonly>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <label for="agentcode">Agent Code</label><br>
                <input type="text" name="agentcode" class="form-control" [(ngModel)]="userDataModel.agentcode" readonly>
              </div>
              <div class="col-lg-3 col-md-6 mb-3">
                <label for="password">Agent Name</label><br>
                <input type="text" name="agentname" class="form-control" [(ngModel)]="userDataModel.agentname" readonly>
              </div>
              <div class="col-lg-12 col-md-12 mb-3">
                <button type="submit" class="btn btn-primary btn-lg" style="float: right; text-align: right;">Submit</button>
              </div>
            </div>
<!-- 
            <div class="btn-group my-4">
              <button type="submit" class="btn btn-primary btn-lg" style="margin-left: 300px;">Submit</button>
            </div> -->
          </form>

          <div class="long-title">
            <h3>User List </h3>
          </div>
          <div class="shadowbox_inquiry">
            <div class="col-md-12 col-md-padi-left-none">
              <dx-data-grid id="inquiryLlist" [dataSource]="allUserList" [allowColumnResizing]="true"
                [wordWrapEnabled]="true"  [allowColumnReordering]="true"
                [showBorders]="true"  (onRowRemoved)="OnUserDeleted($event)">
                <dxo-editing mode="cell" [allowDeleting]="true"></dxo-editing>
                <dxo-paging [enabled]="false"></dxo-paging>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10,20,50]" [showNavigationButtons]="true"
                  [showInfo]="true">
                </dxo-pager>
                <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true">
                </dxo-search-panel>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-column-chooser [enabled]="true" mode="dragAndDrop">
                </dxo-column-chooser>
                <dxi-column dataField="userName" caption="User Name" [width]="92"></dxi-column>
                <dxi-column dataField="customerCode" caption="Customer Code"></dxi-column>
                <dxi-column dataField="customerName" caption="Customer Name"></dxi-column>
                <dxi-column dataField="agentCode" caption="Agent Code" [width]="90"></dxi-column>
                <dxi-column dataField="agentName" caption="Agent"></dxi-column>
                <dxi-column dataField="isActive" caption="Is Active"></dxi-column>
                <dxi-column dataField="createdDate" dataType="datetime" [format]="{ type: 'dd/MM/yy hh:mm' }" [width]="110"
                caption="Created Datetime">
              </dxi-column>
              </dx-data-grid>
            </div>
          </div>

        </div>
      </div>
    </dx-scroll-view>
  </div>
</div>