<div class="container-fluid margin-top-none">
  <div class="bradcrum-link-left-side">
    <ul>
      <li>
        <span>DG Color</span>
        <i class="fa fa-chevron-right"></i>
      </li>
      <li class="bradcrum-link-left-side-nonehover">
        Send Message
      </li>
    </ul>
  </div>
  <div class="subheader-right-tab">
    <div class="header-sub-menu">
      <div class="header-sub-menu d-flex">
        <ul>
          <li [ngClass]="{'active': selectedCategory == 'Send' }">
            <a (click)="onClickButtons('Send')">Send SMS</a>
          </li>
          <li [ngClass]="{'active': selectedCategory == 'View' }">
            <a (click)="onClickButtons('View')">View All</a>
          </li>
        </ul>
        <div class="item-sub" class="item-sub" style="margin-top: 10px;">
          <input class="form-check-input" type="checkbox" id="expandLevelOne" (change)="expandLevel($event)"
            [checked]="expandL1" style="margin-right: 5px;float: left;">
          <label style="margin-right: 10px;float: left;">Expand Level 1</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container" style="padding-left: 11px;padding-right: 12px;padding-top: 52px;">
  <!-- <div class="body-right-top-search-sec">
    <input type="text" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChanged()"
      autocomplete="off" />
  </div> -->
  <div *ngIf="sendSMS" style="padding-left:11px;">
    <div class="col-md-12 col-xl-6">
      <label style="margin-bottom: 2px;">Recipe Prediction</label>
      <div class="body-right-top-search-sec">
        <input type="text" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChangedPrediction()"
          autocomplete="off" />
      </div>
      <ag-grid-angular class="ag-theme-balham" id="divList" style="height: calc(100vh - 200px); margin-bottom: 40px;"
        [columnDefs]="recipePredctionColumnDef" [rowData]="recipePredctionSMSGrid" [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection" [autoGroupColumnDef]="AutoGroupColumnDef" [rowMultiSelectWithClick]="true"
        [groupDefaultExpanded]="groupDefaultExpanded" (gridReady)="OnGridReadyPredction($event)" [suppressContextMenu]="true"
        [sideBar]="sideBar">
      </ag-grid-angular>
      <div class="main_pop" style="float:right;">
        <dx-button class="button" *ngIf="!disableUpdateButton" stylingMode="contained" text="Prediction" type="normal"
          [width]="150" (click)="SendSMS('prediction')" style="margin-left: 5px;">
        </dx-button>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <label style="margin-bottom: 2px;">Shade Matching</label>
      <div class="body-right-top-search-sec">
        <input type="text" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChangedMatching()"
          autocomplete="off" />
      </div>
      <ag-grid-angular class="ag-theme-balham" id="divList" style="height: calc(100vh - 200px); margin-bottom: 40px;"
        [columnDefs]="shadeMatchingColumnDef" [rowData]="shadeMatchingSMSGird" [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection" [autoGroupColumnDef]="AutoGroupColumnDef" [rowMultiSelectWithClick]="true"
        [groupDefaultExpanded]="groupDefaultExpanded" (gridReady)="OnGridReadyMatching($event)" [suppressContextMenu]="true"
        [sideBar]="sideBar">
      </ag-grid-angular>
      <div class="main_pop" style="float:right;">
        <dx-button class="button" *ngIf="!disableUpdateButton" stylingMode="contained" text="Shade Matching"
          type="normal" [width]="150" (click)="SendSMS('shadeMatching')">
        </dx-button>
      </div>
    </div>

  </div>

  <div *ngIf="viewSMS" style="padding-left:11px;">
    <div class="body-right-top-search-sec">
      <input type="text" id="filter-text-box" placeholder="Search" (input)="onFilterTextBoxChanged()"
        autocomplete="off" />
    </div>
    <ag-grid-angular class="ag-theme-balham" id="divList" style="height: calc(100vh - 145px); margin-bottom: 50px;"
      [columnDefs]="ColumnDef" [rowData]="InwardDetailsList" [defaultColDef]="defaultColDefViewSms"
      [rowSelection]="rowSelection" [autoGroupColumnDef]="AutoGroupColumnDef"
      [groupDefaultExpanded]="groupDefaultExpanded" (gridReady)="OnGridReady($event)" [suppressContextMenu]="true"
      [sideBar]="sideBar">
    </ag-grid-angular>
  </div>

  <!-- <div class="main_pop" style="float:right;" *ngIf="sendSMS">
    <dx-button class="button" *ngIf="!disableUpdateButton" stylingMode="contained" text="Shade Matching" type="normal"
      [width]="150" (click)="SendSMS('shadeMatching')">
    </dx-button>
    <dx-button class="button" *ngIf="!disableUpdateButton" stylingMode="contained" text="Prediction" type="normal"
      [width]="150" (click)="SendSMS('prediction')" style="margin-left: 5px;">
    </dx-button>
  </div> -->
</div>


<dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true"
  [showPane]="true" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>