/* ::ng-deep #form-container {
    margin: 10px;
  } */
  
  ::ng-deep .long-title h3 {
    /* font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 400; */
    font-size: 16px;
    text-align: left;
    color: #fff !important;
  }
  .shadowbox_inquiry2{
    padding: 10px 10px 10px 10px !important;
    border-radius: 0px 4px 4px 4px !important;
    border: 1px solid rgb(201, 201, 201);
    width: 100%;
    display: inline-block;
    height: 82vh !important;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
  }
 
  /* Mukesh CSS 24 Dec 2022 Start Here */
  .DigiColor-Inquiry_boxs_width{
    width: 100%; margin-right: 0px;
  }
  #scroll-digi-Inquiry-page {
    height: calc(100vh - 100px) !important;
    position: relative;
    overflow: scroll;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
  /* Mukesh CSS 24 Dec 2022 End Here */
  
  ::ng-deep #scrollview {
    height: auto;
 
  }
  
  ::ng-deep #scrollview-content {
    white-space: pre-wrap;
  }
  
  @media (min-width: 1025px) and (max-width: 1366px) {
    ::ng-deep #scrollview-demo {
      overflow-y: scroll;
      height: 74vh;
      display: block;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    ::ng-deep #scrollview-demo {
      overflow-y: scroll;
      height: 74vh;
      display: block;
    }
  }
  .main_pop {text-align: right;
    padding-right: 10px;}
  .main_pop color_but{background-color: #607d8b !important;}
  ::ng-deep #summary {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  ::ng-deep pointer-column {
    cursor: pointer;
  }
  .inward_boxs_Div_Width h4{
    font-size: 16px;
    background: #607d8b;
    width: max-content;
    color: #fff;
    padding: 7px 18px;
    margin-bottom: 0px;
    border-radius: 6px 6px 0 0;
}