@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f3f3f3;
  /* overflow: hidden; */
}

img {
  width: 100%;
}

/* DX Css Start here */

#shadematching .dx-placeholder {
  color: black !important;
}

#shadematching .dx-texteditor-input {
  color: black !important;
  border-radius: 0px;
}

#form .dx-texteditor-input {
  color: black !important;
}

#CustomerSubstrateId .dx-texteditor-input {
  color: black !important;
}


#form .dx-form-group-caption {
  font-size: 15px !important;
  font-weight: 500;
}

#form .dx-form-group-with-caption>.dx-form-group-content {
  padding-top: 19px;
  margin-top: 6px;
  border-top: 1px solid #787878 !important;
  padding-bottom: 20px;
}

.inward_boxs_Div .dx-texteditor-container {
  padding: 2px 8px;
}

.inward_boxs_Div .dx-texteditor.dx-editor-outlined {
  border: 1px solid #e5e5e5 !important;
  border-radius: 3px !important;
  min-height: 40px;
}

.inward_boxs_Div .dx-texteditor.dx-editor-outlined .dx-texteditor-container {
  margin-top: 0px !important;
}

::ng-deep #inquiryLlist table tr td {
  border: 1px solid #ccc !important;
  border-top: 0px !important;
  padding: 8px 2px !important;
  line-height: 15px;
}


#sampleidMap .dx-treelist-select-all .dx-checkbox {
  left: 14px !important;
  position: static !important;
  margin-right: 8px;
}

#sampleidMap .dx-treelist-icon-container.dx-editor-inline-block .dx-checkbox {
  margin-top: -7px !important;
}

#sampleidMap .dx-treelist-rowsview .dx-treelist-empty-space {
  display: inherit !important;
}

#sampleidMap .dx-treelist-rowsview .dx-treelist-cell-expandable .dx-treelist-text-content {
  line-height: 14px !important;
}

#sampleidMap .dx-treelist-icon-container.dx-editor-inline-block {
  padding-right: 10px !important;
}

#sampleidMap .dx-toolbar-item-content>.dx-texteditor {
  width: 190px !important;
}

#sampleidMap .dx-searchbox .dx-texteditor-input {
  padding-left: 30px !important;
}

#sampleidMap .dx-placeholder {
  color: #333 !important;
  width: 180px;
  padding-left: 30px;
}

::ng-deep #sampleidMap {
  max-height: 940px !important;
}

#CustomerContacDetailsId .dx-checkbox-checked .dx-checkbox-icon {
  width: 19px;
  height: 19px;
}

#CustomerContacDetailsId .dx-checkbox-checked .dx-checkbox-icon {
  font: 12px/1em DXIcons;
}

.inward_boxs_without_mar .dx-toolbar-text-auto-hide .dx-button .dx-button-content {
  padding: 5px;
  background: #607d8b;
  border: 1px solid #607d8b;
  color: #fff;
  border-radius: 4px;
}

.inward_boxs_without_mar .dx-toolbar-text-auto-hide .dx-button .dx-icon {
  color: #fff !important;
  cursor: pointer;
}
#CustomerContacDetailsId .dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td{
  background-color: #ffffff;
}
.dx-datagrid .dx-header-row {
  background-color: #e4e6e7;
  color: #212529;
}
.dx-header-row>td>.dx-datagrid-text-content {
  color: #333!important;
  font-weight: 500;
  font-size: 13px;
}
#inquiryLlist .dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child {
  cursor: pointer;
}
/* DX Css End here */




.inward-page-width {
  width: 50% !important;
  margin: 10px auto !important;
}

.inward-page-width table tr td {
  text-align: left !important;
}

.inward-page-width .shadowbox {
  padding: 12px 0px !important;
  border-radius: 4px !important;
  margin-bottom: 15px !important;
}

.inward-page-width .inwardbtm-grid {
  padding: 12px 16px 5px 16px !important;
}

.inward-page-width .inward-cancel-btn {
  margin-left: 4px !important;
}

.inward-page-width .inward-cancel-btn:hover {
  border: 1px solid rgb(149, 149, 149) !important;
  transition: 0.3s;
}

.inward-page-width .take-to-inward-btn {
  margin-left: 12px;
  color: #fff;
  background: #607d8b !important;
  width: 130px;
  border: 1px solid #607d8b;
}

.inward-page-width .take-to-inward-btn:hover {
  border: 1px solid #3d667a !important;
  background: #3d667a !important;
  transition: 0.3s;
}

.inward-page-width .take-to-inward-btn {
  border: 1px solid #607d8b !important;
}


.inward-page-width .customProductpadinone h3 {
  padding-bottom: 10px;
}




.Margin_Top_Inward {
  margin-top: 12px !important;
}

.inward_boxs_Div {
  padding: 10px 5px 12px 5px !important;
  border-radius: 0px 4px 4px 4px !important;
  margin-right: 1%;
  width: 99% !important;
}

.inward_boxs_Div_Width {
  margin-right: 1%;
  width: 99% !important;
}

.inward_boxs_Div_Width h3 {
  font-size: 17px;
  background: #607d8b;
  width: max-content;
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 0px;
  border-radius: 6px 6px 0 0;
}

.inward-page2 h3 {
  font-size: 17px;
  background: #607d8b;
  width: max-content;
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 0px;
  border-radius: 6px 6px 0 0;
}

.customerDetails-inward h3 {
  font-size: 17px;
  background: #607d8b;
  width: max-content;
  color: #fff;
  padding: 7px 18px;
  margin-bottom: 0px;
  border-radius: 6px 6px 0 0;
}

.inward_boxs_without_mar {
  margin-right: 0% !important;
  width: 100% !important;
}

.inward_boxs_Div .col-md-12 label {
  margin-bottom: 3px !important;
}

.digiInward-cont-rt-padi-none {
  padding-right: 0px !important;
  padding-top: 24px !important;
}

.headerDropdownMenu {
  float: left;
  margin: 3px 5px 7px 101px;
  position: relative;
  height: 35px;
  display: inline-block;
}

.headerDropdownMenu .close {
  position: absolute;
  right: 17px;
  top: 4px;
  background: transparent;
  border: 0px;
  font-size: 20px;
  line-height: 20px;
}

.headerDropdownMenu .close span {
  color: #fff;
}

body {
  font: 100% "Poppins", sans-serif;
  color: #333333;
  font-size: 14px;
  margin: 0;
  padding: 0px;
}

.wrapper {
  display: table;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: table;
  z-index: 9;
  background-color: #607d8b;
  vertical-align: middle;
  padding: 2px 0px;
  position: relative;
  margin-top: 10px;
  height: 42px;
  margin-top: 0px !important;
}


.jay-logo {
  border-radius: 0px 0px 3px 3px;
  float: left;
  background: #fff;
  padding: 2px 8px 2px 8px;
  position: absolute;
  margin: 1px 12px;
  z-index: 9999;
  box-shadow: 0 2px 4px #3333337d;
  margin-top: -3px;
}

.jay-logo img {
  width: 38px;
  height: auto;
}

#filter-text-box:focus {
  box-shadow: 0 2px 5px 0 rgb(4 4 4 / 13%), 0 2px 6px 0 rgb(0 4 0 / 13%);
}

.padi-Left-108 {
  padding-left: 0px;
  margin-bottom: 5px;
}

.margin-top-none {
  height: 40px;
  margin-top: 0px !important;
  padding: 0 12px;
  background: #f5f5f5;
  box-shadow: 0 2px 6px -2px rgb(0 0 0 / 14%), 0 2px 6px -2px rgb(0 0 0 / 14%);
  float: left;
}


.btn-default {
  color: #666699;
  border: 2px solid #666699;
  font-size: 12px;
  margin-top: 3px;
  padding: 7px 14px;
  width: 75px;
  margin-left: 10px;
}

.btn-default:focus {
  background-color: #666699;
  color: white;
}

.subheader-right-tab {
  float: right;
}

.save_btton {
  width: 50px !important;
}

.fa,
.fas {
  font-size: 14px;
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  margin-top: 4px;
}


.header_sub_main {
  display: flex;
  float: right;
}

.header-sub-menu {
  width: 100%;
  float: right;
  margin-bottom: 5px;
}

.header-sub-menu ul li a i {
  padding: 4px 4px 0 0;
}

.header-sub-menu ul {
  margin: 5px 12px 0 0;
  padding: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
}

.header-sub-menu ul:last-child {
  margin-right: 7px !important;
}

.header-sub-menu ul li {
  list-style: none;
  display: inline-block;
  border-left: 1px solid #ccc;
}

.header-sub-menu ul li:first-child {
  border-left: 0px;
}

.header-sub-menu ul li a {
  list-style: none;
  padding: 4px 10px;
  font-size: 14px;
  color: #414141;
  display: inline-flex;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.header-sub-menu ul li a:hover {
  color: #414141;
}

.header-sub-menu ul li .hover-none {
  background: transparent !important;
  cursor: auto;
  margin-left: 15px;
  padding-right: 2px;
  font-weight: 500;
}

.header-sub-menu ul .active {
  background: #eaeff1;
  color: #414141 !important;
}

.container-fluid {
  margin-top: 10px;
}

.bradcrum-link-left-side ul li span {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 0 0;
  float: left;
  font-weight: 500;
}

.bradcrum-link-left-side ul li a:hover {
  color: #7e7ebb;
}

.bradcrum-link-left-side ul li i {
  margin-left: 9px;
  margin-top: 16px;
  color: #bfbfd7;
  font-size: 13px;
}

.bradcrum-link-left-side-nonehover {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 0 0;
  float: left;
}

.bradcrum-link-left-side {
  float: left;
  margin: 1px 0 0 4px;
}

.bradcrum-link-left-side ul {
  margin: 0px;
  padding: 0px;
}

.bradcrum-link-left-side ul li {
  list-style: none;
  float: left;
  margin-right: 9px;
}

.header-dropdown {
  width: 90%;
  display: block;
  position: absolute;
  top: 2px;
  left: 0px;
  z-index: 99;
}

.col-md-padi-left-none {
  padding-left: 0;
  padding-right: 0;
}

.grid-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 52px;
}

.shadowbox {
  padding: 0px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0px;
  display: table;
  width: 100%;
}

.customProductpadinone {
  padding-left: 0px;
  padding-right: 0px;
}

.col-md-6-custompadinone {
  padding-right: 0px !important;
}

.table>:not(:first-child) {
  border-top: 0px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}

.customProductpadinone .table>thead>tr>th {
  font-weight: 600;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: rgb(0 0 0 / 0%) !important;
  color: var(--bs-table-striped-color);
}

.buttons_input {
  margin-right: 10px !important;
}

.fade {
  opacity: 1;
}

.modal-title {
  float: left !important;
}

.modal-header {
  display: inline-block !important;
}

.modal-dialog .btn {
  border: 1px solid #ccc !important;
  font-size: 14px !important;
}

.modal-dialog .btn-outline-dark:hover {
  color: #fff;
  background-color: #607d8b;
  border-color: #607d8b;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(163, 163, 163, 0.5);
  scroll-behavior: smooth;
}


.modal-content {
  position: absolute;
  top: 44vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  border-radius: 3px;
}

.modal-header {
  background: #f4f7f7;
  width: 100%;
  border-radius: 5px 5px 0 0px;
}

.modal-content .modal-header span {
  color: #000 !important;
}

.close:hover {
  opacity: .9 !important;
}

.modal-content .modal-header span:hover {
  color: #000 !important;
}

.modal-content .modal-footer button {
  font-size: 15px !important;
  color: #fff !important;
  background-color: #607d8b !important;
  border: 0px !important;
  padding: 6px 18px !important;
}

.modal-content .modal-footer button:hover {
  background-color: #3c4d55 !important;
  border: 0px !important;
  transition: 0.4s;
}

.modal-content .modal-footer,
.modal-body,
.modal-header {
  padding: 12px 20px !important;
}

.modal-header h4 {
  font-size: 18px !important;
}

.modal-header .close {
  margin-top: -5px;
  font-size: 29px !important;
  outline: none;
}

.modal-body input {
  font-size: 14px !important;
  padding: 5px 12px !important;
  height: 40px !important;
}


span.stars,
span.stars span {
  display: block;
  background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars span {
  background-position: 0 0;
}

.fa.fa-trash-o:before {
  cursor: pointer;
}


.item-sub:checked {
  background-color: #d9d9d9 !important;
  border-color: #a5a5a6 !important;
  color: #d9d9d9 !important;
}

.form-check-input:checked {
  background-color: #607d8b !important;
  border-color: #607d8b !important;
  outline: none !important;
}

.form-check-input {
  width: 15px !important;
  height: 15px !important;
}

.main_pop .color_but {
  background-color: #607d8b !important;
}

.long-title1 h3 {
  font-size: 17px;
}

.inward_boxs_Div .col-md-12 {
  padding-left: 5px;
  padding-right: 6px;
}

.inward_boxs_Div .col-xl-3 {
  padding: 0 15px !important;
}

.inward_boxs_Div .col-md-3 {
  margin-bottom: 5px;
  padding-left: 7px;
}

.inward_formprocess .col-md-3 {
  padding-left: 0px;
}

.inward_form span {
  font-size: 14px;
}

.inward_formprocess span {
  font-size: 14px;
}

.inward_formprocess label {
  width: 110px;
}

.submit_class {
  display: table;
  width: 100%;
}

.submit_class .col-md-3 {
  padding-left: 0px;
}

.submit_class .col-md-12 {
  padding-left: 0px;
  margin-top: 10px;
}

.submit_class span {
  font-size: 14px;
  margin-left: 10px;
}


#scrollview-demo {
  height: 93vh !important;
  position: relative;
  overflow: scroll;
  display: inline-block;
}

.ag-body-viewport-wrapper.ag-layout-normal {
  /* overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: scroll; */
}

.ag-theme-balham .ag-ltr .ag-row-group-indent-2 {
  padding-left: 30px !important;
}

.ag-theme-balham .ag-ltr .ag-row-group-indent-1 {
  padding-left: 18px !important;
}


.ag-tooltip {
  background-color: #ffffff !important;
  color: #383838;
  border-radius: 2px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #a5a5a5 !important;
}

.ag-theme-balham .ag-row-selected {
  background-color: #e3eaed;
  border: 1px solid #a6a6a6;
}

#divList .ag-row-group-expanded {
  font-weight: 500 !important;
  color: #444;
}

#divList .ag-row-group-expanded {
  border-bottom: 1px solid #a6a6a6 !important;
}

#divList .ag-row-group-expanded {
  border-bottom: 1px solid #a6a6a6 !important;
}

#divList .ag-theme-balham .ag-row {
  border-bottom-style: none !important;
}

#divList .ag-row-no-focus {
  border-top: 0px !important;
}

/* Mukesh CSS 24 Dec 2022 Start Here */
#caseId_Date {
  top: -5px !important;
  margin-left: 0px;
  background: transparent;
  border: 0px;
}

#caseId_Date input {
  font-size: 15px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
}

#caseId_Date .dx-texteditor-input {
  color: #fff !important;
}

.dx-texteditor.dx-state-readonly {
  border-style: solid !important;
}

#scrollview-inquiry {
  height: 85vh !important;
  position: relative;
  overflow: scroll;
  display: inline-block;
  padding: 12px 12px 5px 12px;
}

.form-control {
  height: 36px !important;
}

/* Mukesh CSS 24 Dec 2022 End Here */



/* 
.ag-body-viewport.ag-layout-normal {
  overflow-y: scroll;
  scroll-behavior: smooth;
} */
/* 
.ag-invisible {
  visibility: hidden !important;
  display: none !important;
} */


/* DX Css Start here */
/* .dx-searchbox .dx-placeholder::before,
.dx-searchbox .dx-texteditor-input {
  padding-left: 20px;
}

.dx-datagrid-headers {
  border-bottom: 0px !important;
}

.inward-page-width .dx-treelist {
  border-bottom: 1px solid #ccc;
}

.inward-page-width .dx-scrollable-container {
  height: 319px !important;
}

.inward-page-width .dx-placeholder {
  color: #8b8b8b !important;
}

.inward-page-width .dx-treelist-headers .dx-treelist-table .dx-row>td {
  border-bottom: 1px solid #ddd;
  padding: 9px 10px !important;
  font-size: 14px !important;
  color: #333;
}

.inward-page-width .dx-treelist .dx-row>td {
  padding: 7px 10px !important;
  color: #565656 !important;
  border: 1px solid #bdbdbd !important;
}

.inward_boxs_without_mar .dx-button-mode-contained {
  border: 0px !important;
}

.inward_boxs_without_mar .dx-toolbar-text-auto-hide .dx-button .dx-button-content {
  padding: 5px;
  background: #607d8b;
  border: 1px solid #607d8b;
  color: #fff;
  border-radius: 4px;
}

.inward_boxs_without_mar .dx-toolbar-text-auto-hide .dx-button .dx-icon {
  color: #fff !important;
}

::ng-deep #case .dx-tagbox:not(.dx-tagbox-single-line) .dx-texteditor-input-container {
  flex-wrap: initial !important;
  align-items: stretch;
}

.inward_boxs_Div .dx-placeholder {
  color: #5c5c5c !important;
  left: -3px !important;
}

.dx-pager .dx-page-sizes .dx-page-size.dx-first-child,
.dx-pager .dx-page-sizes .dx-page-size:first-child {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

.dx-pager .dx-pages .dx-next-button {
  padding-right: 0px !important;
}

.dx-datagrid-borders>.dx-datagrid-pager {
  margin-top: -1px;
  padding-bottom: 0px !important;
}

.dx-pager .dx-pages .dx-page {
  padding: 3px 9px 4px !important;
}

.dx-pager .dx-pages .dx-navigate-button {
  padding: 6px 13px !important;
}

.dx-pager .dx-pages .dx-selection {
  background-color: #d7e3e9 !important;
}

.dx-datagrid-pager.dx-state-focused .dx-page:focus {
  outline: #5c95c5 solid 0px !important;
}

.inward_boxs_Div .dx-header-row>td>.dx-datagrid-text-content {
  color: #333 !important;
}

.dx-datebox-calendar .dx-dropdowneditor-icon::before {
  left: 45% !important;
  margin-left: -6px !important;
}

.dx-texteditor.dx-editor-outlined {
  background: transparent !important;
  border-bottom: 0px solid #9191bf !important;
  border-radius: 0 !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
}

.dx-texteditor-input {
  min-height: 30px !important;
}

.dx-placeholder {
  color: #fff !important;
}

.dx-dropdowneditor-icon {
  color: #fff !important;
  background: transparent !important;
}

.dx-texteditor .dx-state-hover {
  background-color: transparent !important;
}

.dx-texteditor-input {
  padding: 7px !important;
}

.dx-dropdowneditor-icon::before {
  margin-left: 2px !important;
  margin-top: -8px !important;
}

.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
  background-color: transparent !important;
}

.col-md-4-custom {
  width: 32.333333% !important;
  margin-left: 1%;
}

::ng-deep .dx-dropdowneditor-icon:hover {
  background: transparent !important;
}

::ng-deep .dx-dropdowneditor-icon:hover {
  background: transparent !important;
}

.dx-dropdownlist-popup-wrapper.dx-popup-wrapper .dx-overlay-content {
  top: 22px !important;
  margin-top: 26px !important;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-focused {
  background-color: rgba(37, 37, 37, 0.116) !important;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
  background-color: rgba(37, 37, 37, 0.116) !important;
  text-decoration: none;
  color: #000;
  font-weight: 500
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
  background-color: rgba(37, 37, 37, 0.116) !important;
  text-decoration: none;
  color: #000;
  font-weight: 500
}

.header-right-open-menu-main-section .col-3 .dx-list-item-content a {
  color: #161616 !important;
  text-decoration: none !important;
  width: 100%;
  display: table;
}

.dx-button-mode-contained {
  background-color: transparent !important;
}

.dx-list .dx-empty-message,
.dx-list-item {
  border-top: 1px solid #ddd;
  color: #000 !important;
}

.dx-selectbox-popup-wrapper .dx-list {
  background-color: #fff !important;
  display: table;
}

.dx-popup-wrapper>.dx-overlay-content {
  border: 0px solid #ddd !important;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  border-radius: 0px !important;
  background: #fff !important;
  margin-top: 18px;
  top: 8px !important;
}

.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: transparent !important;
  border-color: transparent;
}

.dx-placeholder::before {
  padding: 7px 3px 8px !important;
}

.dx-texteditor.dx-editor-outlined {
  border: none !important;
  background: transparent !important;
}

.header-right-open-menu-main-section .col-3 .dx-texteditor-input {
  background: transparent !important;
}

.header-right-open-menu-main-section .col-3 .dx-placeholder {
  left: 0 !important;
}

.dx-searchbox .dx-placeholder::before,
.dx-searchbox .dx-texteditor-input {
  padding-left: 37px !important;
}

.dx-searchbox .dx-placeholder::before,
.dx-searchbox .dx-texteditor-input {
  padding-left: 20px;
}

.dx-list .dx-empty-message {
  padding: 0px 5px !important;
}

.dx-dropdowneditor-button {
  width: 24px !important;
  min-width: 24px !important;
}

.dx-dropdowneditor-icon::before {
  left: 0% !important;
}

.dx-list-item-content {
  padding: 5px 9px !important;
  font-size: 13px;
  font-weight: 400;
}

.dx-overlay-content .dx-popup-content {
  box-sizing: content-box;
}

.dx-popup-bottom.dx-toolbar {
  padding: 10px 20px !important;
  border-top: 1px solid #ccc;
}

.dx-overlay-shader {
  pointer-events: auto;
  background-color: hwb(0deg 20% 80% / 27%) !important;
}

.dx-show-clear-button .dx-icon-clear {
  color: #cfcfcf !important;
}

.dx-texteditor-empty .dx-clear-button-area {
  display: table !important;
}

dxc-title {
  font-weight: 500 !important;
}

.dx-radiobutton-icon::before {
  width: 18px;
  height: 18px;
}

.dx-radiobutton-icon::before {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  content: "";
  border-radius: 0px !important;
  box-sizing: content-box;
}

.header-dropdown-export .dx-popup-content {
  height: 55px !important;
  min-height: 60px !important;
}

.dx-popup-content_1 .dx-popup-content {
  padding: 10px 5px !important;
}

.dx-popup-content {
  padding: 8px !important;
}

#case .dx-texteditor-input {
  color: black !important;
  border-radius: 0px;
}

#case1 .dx-texteditor-input {
  color: black !important;
  border: 1px solid black !important;
  border-radius: 0px;
}

#inquirydateTime .dx-texteditor-input {
  color: black !important;
}

.shadowbox .dx-texteditor-input {
  color: black !important;
}

.dx-treelist-borders>.dx-treelist-filter-panel,
.dx-treelist-borders>.dx-treelist-headers {
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 0px !important;
}

.dx-treelist-borders>.dx-treelist-rowsview {
  border-right: 0px !important;
  border-left: 0px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
}

.dx-header-row .dx-text-content-alignment-left:first-child {
  margin-left: 37px !important;
  padding-left: 30px !important;
}

.dx-datagrid-revert-tooltip .dx-revert-button {
  display: none;
}

.dx-datagrid .dx-header-row {
  background-color: #e4e6e7;
  color: #212529;
}

.dx-datagrid .dx-header-filter {
  color: #e4e6e7;
}

#inquiryLlist td {
  border: 1px solid #8f8f8f !important;
}

#inquiryLlist .dx-placeholder {
  color: #333 !important;
  width: 180px;
  padding-left: 30px;
}

#inquiryLlist .dx-toolbar-item-content>.dx-texteditor {
  width: 190px !important;
}

#inquiryLlist .dx-searchbox .dx-texteditor-input {
  padding-left: 30px !important;
}

#inquiryLlist .dx-datagrid-group-panel .dx-group-panel-message {
  padding-left: 0px !important;
}

::ng-deep #inquiryLlist .dx-datagrid-headers {
  border-left: 0px solid #ddd !important;
  border-right: 0px solid #ddd !important;
  border-top: 0px solid #ddd !important;
}

::ng-deep #inquiryLlist .dx-datagrid-headers table tr td {
  margin-bottom: -1px !important;
}

#inquiryLlist .dx-texteditor-input {
  color: black !important;
}

.shadowbox_inquiry #form .dx-texteditor-input {
  color: black !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0px !important;
}
*/
#scandateTime input {
  font-size: 15px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
}

/* #scandateTime .dx-texteditor-input {
  color: #fff;
} */



/* .shade-maching-popup-width{
  width: 1026px !important;
} */
@media (min-width: 320px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1366px) {}

@media (min-width: 1025px) and (max-width: 1440px) {}

@media (min-width: 1300px) and (max-width: 1900px) {
  .responsive_colmd8 {
    /* overflow: scroll; */
  }
}

@media (min-width: 1725px) and (max-width: 2000px) {}



@media(min-width: 768px) and (max-width:991px) {
  .inward-page-width {
    width: 75% !important;
  }
}
